.main1 {
    background-color: #555;
    width: 15%;
  }

  .main {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 90vh;
    width: 100vw;
  }
  .main2{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;

  }